body {
  width: 60%;
  max-width: 1500px;
  margin-left: 20%;
  background: lightblue;
}

div .chessTable {
  width: 1200px;
  height: 800px;
}

table {
  max-width: 1200px;
  border-style: solid;
  border-color: darkblue;
}

th {
  width: 80px;
  color: blue;
  border-style: none;
  text-align: center;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
}

td.white {
  background-color: navajowhite;
}

td.black {
  background-color: darkgray;
}

span {
  padding: 5px;
  border-radius: 2px;
  background-color: lightskyblue;
}

span.white {
  color: white;
}

span.black {
  color: black;
}

img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}